@import "../../css/colors.css";
@import "../../css/units.css";

.box-hidden{
    display: none;
}

.img-item{
    width: 3rem;
    height: 3rem;
    margin: 0 .3rem .3rem 0;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4F8FF;
    border: 1px solid #E7E7E7;
    border-radius: .3rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.img-item:nth-child(3n){
    margin-right: 0;
}

.img-content{
    max-width: 80%;
    max-height: 80%;
}

.img-delete{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,41,76,.7);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../lib/assets/delete-icon-white.png");
}

.img-item:hover .img-delete{
    display: block;
}
