@import "../../css/colors.css";
@import "../../css/units.css";

.progress-box{
    width: 250px;
    display: flex;
    position: relative;
}

.progress-inner{
    display: flex;
    background: #145bbf;
    height: 1.8rem;
    line-height: 1.2rem;
    padding: .3rem 2.4rem .3rem .3rem;
    border-radius: .9rem;
    flex: 1;
}

.progress-main{
    display: flex;
    flex: 1;
    position: relative;
}

.progress-bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 1.2rem;
    border-radius: .6rem;
    background: #fead2a;
    width: 0%;
    transition: all .3s;
}

.progress-container{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
}

.progress-item{
    flex: 1;
    text-align: center;
    color: #4f84d9;
}

.progress-divider{
    width: .3rem;
    height: .3rem;
    border-radius: .2rem;
    background: #4f84d9;
}

.progress-status{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1.2rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 1.2rem;
    border: .3rem solid #145bbf;
    background: #fead2a;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.progress-img{
    width: 50%;
}

.done{
    color: #dc8f0e;
}

.active{
    color: #fff;
}

.doneBg{
    background: #dc8f0e;
}

.loading{
    animation: spin 800ms infinite linear;
}

@keyframes spin {
    0%   { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}
