@import "../../css/colors.css";
@import "../../css/units.css";

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,.6);
}

.modal-content {
    margin: 100px auto;
    outline: none;
    border: .25rem solid $ui-white-transparent;
    padding: 0;
    border-radius: $space;
    user-select: none;
    width: 500px;

    color: $text-primary;
    overflow: hidden;
}

.body {
    background: #FFF;
    padding: 1.5rem 2.25rem;
    text-align: center;
}

.label {
    font-weight: 500;
    margin: 0 0 0.75rem;
}

.input {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    padding: 0 1rem;
    height: 3rem;
    color: #6b6b6b;
    font-size: .875rem;
    outline: none;
}

.textarea{
    padding: .8rem 1rem;
    height: 6rem;
    margin-bottom: .6rem;
}

.label-title{
    font-size: 1.2rem;
}

.class-title{
    font-size: .9rem;
    text-align: left;
    margin: 0;
}

.class-box{
    text-align: left;
    padding: .8rem 0;
    margin-bottom: 1.5rem;
}

.class-btn{
    display: inline-block;
    padding: .4rem 1rem;
    border: 1px dashed #ccc;
    border-radius: .2rem;
    font-size: .8rem;
    margin: 0 .6rem .4rem 0;
    cursor: pointer;
}

.button-row {
    font-weight: bolder;
    text-align: right;
}

.button-row button {
    padding: .7rem 1.8rem;
    border-radius: 0.25rem;
    background: white;
    border: 1px solid $ui-pane-border;
    font-weight: 600;
    font-size: 0.85rem;
}

.button-row button.ok-button {
    background: $motion-primary;
    border: $motion-primary;
    color: white;
}

.button-row button + button {
    margin-left: 0.5rem;
}

.class-btn:hover, .active-btn{
    color: #1dacf4;
    border-color: #1dacf4;
}
